<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="et">
<head th:replace="base :: imports(pageTitle = 'All Posts')">
</head>
<body>
<div class="container" th:fragment="posts">
<h1 th:text="${title}"></h1>
    <button th:class="${'ui-icon-bookmark'}"><a th:href="@{'blog/posts/create'}">Add new</a> </button>
<div th:each="post: ${posts}">
    <a th:href="@{'/blog/posts/' + ${post.id}}">
        <h2 th:text="${post.getCreatedAt().getDayOfMonth()}
         + '.' + ${post.getCreatedAt().getMonth().getValue()}
         + '.' + ${post.getCreatedAt().getYear()}
         + ' ' + ${post.getCreatedAt().toLocalTime().getHour()}
          + ':' + ${post.getCreatedAt().toLocalTime().getMinute()}
  + ' | '
    + ${post.title}"></h2></a>
    <h3 th:text="${post.text}"></h3>
</div>
</div>
</body>
