<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="head::htmlhead"></head>
<body>
<header class="rhyzz" th:include="header :: header"></header>
<main th:id="${'blogPost'}" class="rhyzz" th:fragment="blog">
    <div class="rhyzz-wrapper">
        <div class="rhyzz-bootstrap">
            <script type="86dc64a4e19322c20a32dff2-text/javascript"
                    th:src="@{js/jquery-ui.min.js}"></script>
            <script type="86dc64a4e19322c20a32dff2-text/javascript"
                    th:src="@{repeatable-fields/js/repeatable-fields.js?version=1.5}"></script>
            <a class="btn btn-lg" th:href="@{'/data/api/blogPosts'}">See all posts in API</a>
            <a class="btn btn-lg" th:href="@{'/data/api'}">API in HAL browser</a>
            <p>
                <a href="https://github.com/Rhyzz/repeatable-fields"
                   target="_blank" class="btn btn-default">Lae algne kood alla</a>
            </p>

            <div id="blogposts" class="container"
                 th:replace="posts::posts">
                 </div>

        </div>
    </div>
</main>
<footer th:include="footer :: footer"></footer>
<script
        th:src="@{./ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js}"
        data-cf-settings="86dc64a4e19322c20a32dff2-|49" defer="">
</script>
<!--<script>
    $(document).ready(function(){
        $.getJSON("/multidimension/api/blogPosts", function(data){
            var blogpost = '';
            $.each(data._embedded.blogPosts, function(key, value){
                blogpost += '<h4><a href="' + value._links.self.href + '"> '+value.title+'</a></h4>';
                blogpost += '<p>'+value.text+'</p>';
            });
            $('#blogposts').append(blogpost);
        });

    });
</script>-->

</body>
</html>
