<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::htmlhead(pageTitle = 'Create Post')"></head>
</head>
<body>
<header class="rhyzz" th:include="header :: header"></header>
<main id="createpost" class="rhyzz">
    <div class="rhyzz-wrapper">
        <div class="rhyzz-bootstrap">
            <div class="container" th:fragment="createpost">
                <script type="86dc64a4e19322c20a32dff2-text/javascript"
                        th:src="@{'/js/jquery-ui.min.js'}"></script>
                <script type="86dc64a4e19322c20a32dff2-text/javascript"
                        th:src="@{'/repeatable-fields/js/repeatable-fields.js?version=1.5'}"></script>
                <form id="blogPost" action="" th:action="${'/blog/'+id+'/edit'}" th:object="${blogPost}">
                    <input type="submit">
                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" th:field="*{title}">
                        <label>Text</label>
                        <textarea name="text" class="form-control" th:field="*{text}"></textarea>
                    <div class="repeat">
                        <div class="wrapper">
                            <div><span class="add btn btn-success btn-sm">Add subpart</span></div>
                            <div class="container ui-sortable">
                                <div class="rhyzz-bootstrap template row" style="display: none;">
                                    <input type="hidden" name="blogPostSubParts[{{row-nr}}][id]">
                                    <input type="hidden" name="blogPostSubParts[{{row-nr}}][blogPostId]"
                                    >
                                    <input name="blogPostSubParts[{{row-nr}}][ordering]"
                                           type="hidden"
                                           value
                                    >
                                    <table style="max-width: inherit"><tr>
                                        <td>
                                            <div style="width:50px" class="move btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-sort"></span>
                                            </div>
                                            <span class="remove btn btn-danger btn-sm">Remove</span>
                                            <span class="add btn btn-success btn-sm">Add new</span>
                                        </td>
                                        <td>
                                                <input type="text"
                                                       name="blogPostSubParts[{{row-nr}}][subTitle]"
                                                       class="form-control"
                                                       aria-label="Subtitle(optioal)"
                                                >
                                                <input type="file"
                                                       name="blogPostSubParts[{{row-nr}}][image]"
                                                       class="form-control-sm"
                                                >
                                                <textarea name="blogPostSubParts[{{row-nr}}][description]"
                                                          class="form-control"
                                                >
                                                </textarea>
                                            <div class="wrapper" style="width:80%">
                                                <div><span class="add btn btn-success btn-sm">Add paragraph</span></div>
                                                <div class="rhyzz-bootstrap container ui-sortable" data-rf-row-count="0">

                                                        <div class="rhyzz-bootstrap template row form-group" style="display: none;">
                                                            <input name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][id]"
                                                                   type="hidden"
                                                                   value>
                                                            <input name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][blogPostSubPartId]"
                                                                   type="hidden"
                                                                   value>
                                                            <input name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][blogPostId]"
                                                                   type="hidden"
                                                                   value>
                                                            <input name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][ordering]"
                                                                   type="hidden"
                                                                   value>
                                                            <table style="max-width: 800px"><tr>
                                                            <td>
                                                                <div style="width:50px" class="move btn btn-info btn-sm">
                                                                    <span class="glyphicon glyphicon-sort"></span>
                                                                </div>
                                                                <div><span class="remove btn btn-danger btn-sm">Remove</span>
                                                                </div>
                                                                <div><span class="add btn btn-success btn-sm">Add new</span>
                                                                </div>
                                                            </td>
                                                            <td class="form-group">
                                                                <textarea
                                                                        name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][text]"
                                                                        class="form-control"
                                                                        style="width: 80%"
                                                                >
                                                                </textarea>
                                                            </td>
                                                            </tr></table>
                                                       </div>
                                                </div>
                                            </div>
                                        </td>
                                       </tr></table>
                                    </div>
                                <th:block th:unless="${#lists.isEmpty(blogPost.getBlogPostSubParts())}">
                                    <th:block th:each="subPart : ${blogPost.getBlogPostSubParts()}">
                                <div class="rhyzz-bootstrap row" style="display: block;">
                                    <input type="hidden" th:name="${'blogPostSubParts['+subPart.ordering+'][id]'}" th:value="${subPart.id}">
                                    <input type="hidden" th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostId]'}" th:value="${blogPost.id}">
                                    <input th:name="${'blogPostSubParts['+subPart.ordering+'][ordering]'}"
                                           type="hidden"
                                           th:value="${subPart.ordering}"
                                    >
                                    <table><tr>
                                        <td>
                                            <div style="width:50px" class="move btn btn-info btn-sm">
                                                <span class="glyphicon glyphicon-sort"></span>
                                            </div>
                                            <span class="remove btn btn-danger btn-sm">Remove</span>
                                            <span class="add btn btn-success btn-sm">Add new</span>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   th:name="${'blogPostSubParts['+subPart.ordering+'][subTitle]'}"
                                                   class="form-control"
                                                   th:value="${subPart.subTitle}"
                                            >
                                            <input type="file"
                                                   th:name="${'blogPostSubParts['+subPart.ordering+'][image]'}"
                                                   class="form-control-sm"
                                                   th:value="${subPart.image}"
                                            >
                                            <textarea th:name="${'blogPostSubParts['+subPart.ordering+'][description]'}"
                                                      class="form-control"
                                                      th:text="${subPart.description}"
                                            >
                                                </textarea>
                                            <div class="wrapper" style="width:80%">
                                                <div><span class="add btn btn-success btn-sm">Add paragraph</span></div>
                                                <div class="rhyzz-bootstrap container ui-sortable" data-rf-row-count="0">

                                                    <div class="rhyzz-bootstrap template row form-group" style="display: none;">
                                                        <input type="hidden"
                                                               name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][id]"
                                                        >
                                                        <input type="hidden"
                                                               name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][blogPostSubPartId]"
                                                        >
                                                        <input type="hidden"
                                                               name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][blogPostId]"
                                                        >
                                                        <input name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][ordering]"
                                                               type="hidden"
                                                               value>
                                                        <table style="max-width: 800px"><tr>
                                                            <td>
                                                                <div style="width:50px" class="move btn btn-info btn-sm">
                                                                    <span class="glyphicon glyphicon-sort"></span>
                                                                </div>
                                                                <div>
                                                                    <span class="remove btn btn-danger btn-sm">Remove</span>
                                                                </div>
                                                                <div>
                                                                    <span class="add btn btn-success btn-sm">Add new</span>
                                                                </div>
                                                            </td>
                                                            <td class="form-group">
                                                                <textarea
                                                                        name="blogPostSubParts[{{row-nr}}][blogPostParagraphs][{{row-nr}}][text]"
                                                                        class="form-control"
                                                                        style="width: 80%"
                                                                >
                                                                </textarea>
                                                            </td>
                                                        </tr></table>
                                                    </div>
                                                    <th:block th:unless="${#lists.isEmpty(subPart.getBlogPostParagraphs())}">
                                                        <th:block th:each="paragraph : ${subPart.getBlogPostParagraphs()}">
                                                            <div class="rhyzz-bootstrap row form-group" style="display: block;">
                                                                <input type="hidden"
                                                                       th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostParagraphs]['+paragraph.ordering+'][id]'}"
                                                                       th:value="${paragraph.id}"
                                                                >
                                                                <input type="hidden"
                                                                       th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostParagraphs]['+paragraph.ordering+'][blogPostSubPartId]'}"
                                                                       th:value="${subPart.id}"
                                                                >
                                                                <input type="hidden"
                                                                       th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostParagraphs]['+paragraph.ordering+'][blogPostId]'}"
                                                                       th:value="${blogPost.id}"
                                                                >
                                                                <input th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostParagraphs]['+paragraph.ordering+'][ordering]'}"
                                                                       type="hidden"
                                                                       th:value="${paragraph.ordering}"
                                                                >
                                                                <table><tr>
                                                                    <td>
                                                                        <div style="width:50px" class="move btn btn-info btn-sm">
                                                                            <span class="glyphicon glyphicon-sort"></span>
                                                                        </div>
                                                                        <div><span class="remove btn btn-danger btn-sm">Remove</span>
                                                                        </div>
                                                                        <div><span class="add btn btn-success btn-sm">Add new</span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="form-group">
                                                                <textarea
                                                                        th:name="${'blogPostSubParts['+subPart.ordering+'][blogPostParagraphs]['+paragraph.ordering+'][text]'}"
                                                                        class="form-control"
                                                                        style="width: 80%"
                                                                        th:text="${paragraph.text}"
                                                                >
                                                                </textarea>
                                                                    </td>
                                                                </tr></table>
                                                            </div>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </td>
                                    </tr></table>
                                </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    </div>
                    <hr>
                    <input type="submit">
                </form>
                <script type="86dc64a4e19322c20a32dff2-text/javascript">
                        jQuery(function() {
                            jQuery('.repeat').each(function() {
                                jQuery(this).repeatable_fields({
                                    wrapper: '.wrapper',
                                    container: '.container',
                                    row_count_placeholder: '{{row-nr}}',
                                });
                            });
                        });
                </script>

                <script type="86dc64a4e19322c20a32dff2-text/javascript">
                    /**
                     * Retrieves input data from a form and returns it as a JSON object.
                     */

                        $("#blogPost").submit(function(event){
                            event.preventDefault();
                            //var formHTML = document.getElementById('blogPost');
                            var data = $('#blogPost').serializeJSON({parseNumbers:true,useIntKeysAsArrayIndex:true});

                            var jsonData = JSON.stringify(data);
                            document.getElementById('results_display').innerHTML = "Submitted form data: " + jsonData;
                           $.ajax({
                                url: '/multidimension/data/api/blogPosts/' + data.id,
                                type: 'PUT',
                                success: function(result) {
                                    $(location).attr('href', '/multidimension/blog/' + data.id);
                                }
                            });
                            if (status != "success") {
                                document.getElementById('results_display').innerHTML = status + ' submitted: ' + jsonData;
                            }

                        });
                </script>
            </div>
        </div>
    </div>
</main>
<footer th:include="footer :: footer"></footer>

<script
        th:src="@{'https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js'}"
        data-cf-settings="86dc64a4e19322c20a32dff2-|49" defer="">
</script>

</body>
</html>
