<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:include="head::htmlhead"></head>
<body>
<header class="rhyzz" th:include="header :: header"></header>
<main th:id="${'mainData'}" class="rhyzz" th:include="main :: main"></main>
<main th:id="${'onedata'}" style="display: none" class="rhyzz" th:include="one :: one"></main>
<footer th:include="footer :: footer"></footer>

<script
        th:src="@{./ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js}"
        data-cf-settings="86dc64a4e19322c20a32dff2-|49" defer="">
</script>
<script type="86dc64a4e19322c20a32dff2-text/javascript">
				$('#formdatamode').click(function(){
				    $('#mainData').toggle();
				    $('#onedata').toggle();
				});

</script>


</body>
</html>
