<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::htmlhead"></head>
<body>
<header th:replace="header :: header"></header>
<main id="singlepost" class="rhyzz">
    <div class="rhyzz-wrapper">
        <div class="rhyzz-bootstrap">
            <div class="container" th:fragment="post">
                <a class="btn btn-lg" th:href="${'/multidimension/blog'}">See all posts</a>
                <a class="btn btn-lg" th:href="${'/multidimension/data/api/blogPosts/'+post.id}">See this post in API</a>
                <a class="btn btn-lg" th:href="${'/multidimension/data/api/blogPosts'}">See all posts in API</a>
                <a class="btn btn-lg" th:href="${'/multidimension/data/api'}">API in HAL browser</a>

                <h2 th:text="${title}"></h2>
                <h3 th:text="${post.title}"></h3>
                <h5 th:text="${post.text}"></h5>
                <th:block th:unless="${#lists.isEmpty(post.getBlogPostSubParts())}">
                    <th:block th:each="subPart : ${post.getBlogPostSubParts()}">
                            <th:block th:if="${not #strings.isEmpty(subPart.getSubTitle())}">
                                <h4 th:text="${subPart.getSubTitle()}"></h4>
                            </th:block>
                            <th:block th:unless="${#strings.isEmpty(subPart.getImage())}">
                                <img th:src="${subPart.getImage()}" width="600">
                            </th:block>
                            <p th:unless="${#strings.isEmpty(subPart.getDescription())}"
                               class="container-md" th:text="${subPart.getDescription()}"></p>
                            <th:block th:unless="${#lists.isEmpty(subPart.getBlogPostParagraphs())}">
                                <th:block th:each="paragraph : ${subPart.getBlogPostParagraphs()}">
                                    <p th:text="${paragraph.getText()}"></p>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</main>
</body>
</html>
