<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head::htmlhead"></head>
<body>
<header th:replace="header :: header"></header>
<main id="singlepost" class="rhyzz">
    <div class="rhyzz-wrapper">
        <div class="rhyzz-bootstrap">
            <div class="container" th:fragment="post">

                <h2 th:text="${title}"></h2>
                <h3 th:text="${post.title}"></h3>
                <h4 th:text="${post.text}"></h4>
                <th:block th:unless="${#lists.isEmpty(post.getBlogContentOrderByList())}">
                    <th:block th:each="content : ${post.getBlogContentOrderByList()}">
                        <p class="container-md" th:text="${content.getBlogPostParagraph().getText()}"
                           th:unless="${#strings.isEmpty(content.getBlogPostParagraph().getText())}"></p>
                        <th:block th:if="${content.getBlogPostSubPart()}">
                            <h3 th:text="${content.getBlogPostSubPart().getSubTitle()}"
                                th:unless="${#strings.isEmpty(content.getBlogPostSubPart().getSubTitle())}"></h3>
                            <img th:src="${content.getBlogPostSubPart().getImage()}"
                                 th:unless="${#strings.isEmpty(content.getBlogPostSubPart().getImage())}">
                            <p class="container-md" th:text="${content.getBlogPostSubPart().getDescription()}"
                               th:unless="${#strings.isEmpty(content.getBlogPostSubPart().getDescription())}"></p>
                            <th:block
                                    th:unless="${#lists.isEmpty(content.getBlogPostSubPart().getBlogPostParagraphs())}">
                                <th:block th:each="paragraph : ${content.getBlogPostSubPart().getBlogPostParagraphs()}">
                                    <p th:text="${paragraph.getText()}"></p>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
                <a th:href="@{'/blog'}">all posts</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
